<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worldtouring360">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity
            android:name=".australia"
            android:exported="false" />
        <activity
            android:name=".asia"
            android:exported="false" />
        <activity
            android:name=".africa"
            android:exported="false" />
        <activity
            android:name=".Samerica"
            android:exported="false" />
        <activity
            android:name=".Namerica"
            android:exported="false" />
        <activity
            android:name=".countrypage"
            android:exported="false" />
        <activity
            android:name=".europe"
            android:exported="false" />
        <activity
            android:name=".worldPage"
            android:exported="false" />
        <activity
            android:name=".favpage"
            android:exported="true" />
        <activity
            android:name=".settingpage"
            android:exported="true" />
        <activity
            android:name=".infopage"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>